.rightbar
{
    flex:1.5;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-right:1rem;
    color:rgb(10, 35, 32);
}
.Icons
{
   
  
   margin-top: 2rem;
   display: flex;
   /* justify-content: space-around; */
   align-items: center;
}
.IconItem{

    position: relative;
    cursor: pointer;
    background-color:#D8D8D8;
    border-radius:100%;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    margin: 0 1.2rem;
    border-width: 0;
    outline: none;
    /* background-color: transparent; */

   
}
.Iconbadge
{
    position: absolute;
    display: flex;
    height:15px;
    width: 15px;
    background-color: rgb(249, 4, 4);
    align-items:center;
    top:4px;
    right:4px;
    border-radius: 50%;
    font-size: 10px;
    justify-content: center;
   
}
.Carts{

    
    margin-top: 2rem;

}
::-webkit-scrollbar
{
   width: 5px;
}
::-webkit-scrollbar-track
{
   background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb
{
   background-color: rgb(179,179,179);
}
.cartHeading
{
    padding: 1rem 2rem;
}
.Carttitle
{
   font-weight: bold;
   margin-bottom:0.7rem;
}
.approxtime
{
    color: gray;
    font-size:0.7rem;
}
.dividecart
{
    margin: 1rem 1rem;
}

.checkoutbutton
{
  
    width: 15rem;
    margin: 1rem;
    height: 3rem;
    background-color:rgb(10, 35, 32);
    outline: none;
    border-width: 0;
    color: white;
    border-radius:2rem;
    font-size:1rem;
}

.showtotalMoney
{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 1rem 0;
}