.menu
{
    flex:5;
    padding:2rem;
    margin-left: 20rem;
    color:rgb(10, 35, 32);
}

.navfood
{
    
    margin:1rem 2rem;
    list-style-type: none;
    
}


.navitem
{
   margin-right: 2rem;
   font-weight:bold;

}

a 
{
    text-decoration: none;
    color:rgb(10, 35, 32);
}
.foodshow
{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
  
.categorylist
{
    /* height: 100vh;
    overflow: hidden;
    overflow-y: scroll; */
   
}
::-webkit-scrollbar
{
   width: 5px;
}
::-webkit-scrollbar-track
{
   background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb
{
   background-color: rgb(179,179,179);
} 

.category
{
     font-size: 1.5rem;
     font-weight: bold;
     padding-left: 1.2rem;
     margin: 2rem 0;
}
